/* header-footer.css */
header {
    background-color: black;
    padding: 0;
    text-align: center;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    text-align: left;
}

.logo-container {
    margin-left: auto;
}

nav {
    text-align: right;
}

footer {
    background-color: black;
    color: #333;
    padding: 20px;
    text-align: center;
}

/* Add any additional header and footer styles here */
