/*
//////////////////////////////////////////////////
////////////////// MAIN CONTENT //////////////////
//////////////////////////////////////////////////
*/

.hero {
	text-align: center;
	padding: 50px 0;
	background-color: #333;
}

.hero h1 {
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
	color: #812d65;
	margin-bottom: 20px;
}

.hero p {
	font-size: 1.2em;
	line-height: 1.5;
	color: #999;
}
